<div ng-controller="dashController">
    <button type="button" ng-click="logout()">LOGOUT</button>

    <div id="side-nav" style="display: inline;">
        <p>Topic: <input type="text" ng-model="newChannel.topic"></p>
        <button type="button" ng-click="createChannel()">New Channel</button>
            <h2 ng-repeat="channel in channels">{{channel.topic}}</h2>
            <h2 ng-repeat="user in users" ng-click="createConversation(user._id)">{{user.user_name}}</h2>
    </div>

    <div id="chat-area" style=" border: 3px solid black; width: 600px; height: 650px;">
        <div id="system">
            <p>This is where system announcements will go</p>
        </div>
        <div id="chat" style="width: 600px; height: 550px;">

        </div>
        <div id="input">
            <p><button type="button">+</button><input type="text" ng-model="newMessage.content"><button type="button" ng-click="createMessage()">Send</button></p>
        </div>
    </div>


</div>
