<div ng-controller="dashController">
    <div class="container">

        <!-- top navbar -->
        <nav class="navbar navbar-default">
            <div class="row">
                <div class="col-md-10 text-center" style="padding-left:200px; padding-bottom:10px;">
                    <h3>Chatter Box 1.0</h3>
                </div>
                <div class="col-md-1">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="margin-top:15px; margin-left:60px;">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Menu
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">+ Start A New Channel</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end of navbar -->

        <div class="row">
            <!-- channel & conversation bar -->
            <div class="col-md-4" id="side-nav">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        5 Users Online
                    </div>
                    <div class="panel-body" style="height: 655px; overflow: auto;">
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-info">
                            <span class="badge">[New Messages]</span>
                            Learn Angular
                          </li>
                          <li class="list-group-item list-group-item-info">
                            <span class="badge">[New Messages]</span>
                            DC Dojo
                          </li>
                          <li class="list-group-item list-group-item-info">
                            <span class="badge"></span>
                            VA Meet-ups
                          </li>
                          <li class="list-group-item list-group-item-danger">
                            <span class="badge">[New Messages]</span>
                            Nishant
                          </li>
                          <li class="list-group-item list-group-item-danger">
                            <span class="badge"></span>
                            Jason
                          </li>
                          <li class="list-group-item list-group-item-danger">
                            <span class="badge"></span>
                            Jaker
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end of channel sidebar-->

            <!-- message board -->
            <div class="col-md-8" id="dialog-board">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        Channel Topic: Learn Angular
                    </div>
                    <div class="panel-body" style="height: 600px;">
                        <p style="text-align:center"><span class="system-notice">Jason joined the channel @ 11:39pm.</span></p>
                        <p class="other-username-wrapper">Jason @11:40pm</p>
                        <p class="other-message-wrapper">Wusssup!</p>
                        <p style="text-align:center"><span class="system-notice">Jaker joined the channel @ 11:41pm.</span></p>
                        <p class="other-username-wrapper">Jaker @11:42pm</p>
                        <p class="other-message-wrapper">Let's get the party started!</p>
                        <p class="current-user-name-wrapper">Nishant @11:52pm</p>
                        <p style="text-align: right"><span class="current-user-message-wrapper">Come to daddy....</span></p>
                    </div>
                    <div class="panel-footer">
                        <div class="form-inline">
                            <div class="form-group">
                                <button type="button" class="btn btn btn-default">+</button>
                                <input type="text" class="form-control input" placeholder="enter your message" aria-describedby="basic-addon1">
                                <button type="button" class="btn btn btn-primary active" ng-click="testSocket()">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of message board -->

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <p>
                    ©2017 Developed by N. Aggarwal and J. Zhang
                </p>
            </div>
        </div>
    </div>
</div>
